[:find
 ;; TODO need to pull out the tag name because that's the version to use when deploying
 (pull ?commit [{:git.commit/repo [:git.repo/source-id
                                   :git.repo/name
                                   :git.provider/url
                                   {:git.repo/org [:github.org/installation-token
                                                   :git.org/name
                                                   :git.provider/url]}]}])
 :in $ $before-db %
 :where
 (get-config-value "tag?" false false)
 (tx-tag ?commit ?ref)
 [?commit :git.commit/repo ?repo]

 (get-config-value "path-exists" ["project.clj"] ?path-exists)
 (get-config-value "path-not-exists" ["Dockerfile" "docker/Dockerfile"] ?path-not-exists)
 (content-index-contains? ?commit "path-exists" ?path-exists)
 (content-index-contains? ?commit "path-not-exists" ?path-not-exists)

 (repo-language ?repo "Clojure")]