[:find (pull ?org [:github.org/installation-token
                   :git.org/name
                   :git.provider/url])
 ?commit
 (pull ?repo [:git.repo/source-id
              :git.repo/name
              :git.provider/url])
 :in $ $before-db %
 :where
 (or-join [?commit]
   (tx-content-index ?commit _)
   (tx-push ?commit _)
   (tx-check-run ["lein-m2-deploy"] ?commit))

 (get-config-value "check-names" [] ?check-run-names)
 (check-runs-passed? ?check-run-names ?commit)

 (repo-language ?repo "Clojure")

 (content-index-contains? ?commit "path-exists" ["project.clj"])
 (content-index-contains? ?commit "path-not-exists" ["Dockerfile" "docker/Dockerfile" "docker/Dockerfile.gcr"])

 [?commit :git.commit/repo ?repo]
 [?repo :git.repo/org ?org]]