;; Copyright © 2020 Atomist, Inc.
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.

{:description
 "Run `lein deploy` to publish jars to a Maven (M2) repository",
 :license "unknown",
 :displayName "Lein M2 Deploy",
 :name "lein-m2-deploy-skill",
 :author "kipz",
 :iconUrl
 "https://raw.githubusercontent.com/cljs/logo/master/cljs.png",
 :homepageUrl "https://github.com/atomist-skills/lein-m2-deploy-skill",
 :namespace "atomist",
 :resourceProviders
 [{:name "maven",
   :description
   "Maven repository for resolving artifacts referenced in project.clj",
   :typeName "MavenRepositoryProvider",
   :minRequired 0,
   :maxAllowed 1}],
 :parameters
 [{:stringArray
   {:name "docker_cache",
    :displayName "Cache files or folders",
    :defaultValue [".m2/**"]
    :visibility "hidden"
    :description "Cache and restore file system content between executions of this skill",
    :required false}}
  {:stringArray
   {:name "path-not-exists"
    :displayName "Do not deploy from repos that contain these files"
    :description "Existence of these files means that this tag should be skipped"
    :placeHolder "Dockerfile"
    :required false}}
  {:repoFilter
   {:description "The set of repositories to monitor for tags",
    :displayName "Repository Scope",
    :name "scope",
    :required true}}],
 :artifacts
 {:docker
  [{:name "lein-m2-deploy-skill",
    :image "gcr.io/atomist-container-skills/lein-m2-deploy-skill",
    :resources
    {:request {:cpu 0.1, :memory 1000},
     :limit {:cpu 1, :memory 1000}}}]}}
