{:description
 "Run `lein deploy` to publish jars to a Maven (M2) repository",
 :license "unknown",
 :displayName "Lein M2 Deploy",
 :name "lein-m2-deploy",
 :author "kipz",
 :iconUrl
 "https://raw.githubusercontent.com/cljs/logo/master/cljs.png",
 :homepageUrl "https://github.com/atomist-skills/lein-m2-deploy-skill",
 :namespace "atomist",
 :artifacts
 {:docker
  [{:name "lein-m2-deploy-skill",
    :image "gcr.io/atomist-container-skills/lein-m2-deploy-skill",
    :resources
    {:request {:cpu 0.1, :memory 1000},
     :limit {:cpu 1, :memory 1000}}}],
  :gcf
  [{:name "package-cljs-skill",
    :entryPoint "eventhandler",
    :memory 512, 
    :runtime "nodejs10", 
    :timeout 60}]}}
