;; Copyright © 2021 Atomist, Inc.
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.

{:description
 "Run `lein deploy` to publish jars to a Maven (M2) repository",
 :license "unknown",
 :displayName "Lein M2 Deploy",
 :name "lein-m2-deploy",
 :author "kipz",
 :iconUrl
 "https://images.atomist.com/rug/atomist.png",
 :homepageUrl "https://github.com/atomist-skills/lein-m2-deploy-skill",
 :namespace "atomist",
 :resourceProviders
 [{:name "github",
   :description "GitHub",
   :typeName "GitHubAppResourceProvider",
   :minRequired 1,
   :maxAllowed 1}],
 :capabilities {:requires [{:namespace "atomist"
                            :name "MavenRepository"
                            :minRequired 1
                            :maxAllowed 1
                            :usage "releases"
                            :displayName "Deploy Repository"
                            :description "Select a Maven Repository to deploy artifacts to"
                            :scopes ["configuration"]}
                           {:namespace "atomist"
                            :name "MavenRepository"
                            :minRequired 0
                            :usage "resolve"
                            :displayName "Artifact Resolution Repository"
                            :description "One or more repositories required for artifact resolution"
                            :scopes ["configuration"]}]}
 :parameters
 [{:stringArray
   {:name "docker_cache",
    :displayName "Cache files or folders",
    :defaultValue [".m2/**"]
    :visibility "hidden"
    :description "Cache and restore file system content between executions of this skill",
    :required false}}
  {:secret
   {:name "gpg-private-key"
    :displayName "GPG private key (pem format)"
    :description "GPG private key to use for signing deployed jars"
    :minRequired 0
    :maxAllowed 1
    :lineStyle "multiple"
    :required false}}
  {:secret
   {:name "gpg-private-key-passphrase"
    :displayName "Optional: GPG private key passphrase"
    :description "Passphrase for the GPG private key to use for signing deployed jars"
    :minRequired 0
    :maxAllowed 1
    :required false}}
  {:fileFilter
   {:name "path-not-exists"
    :displayName "Do not deploy from any repos that contain files from this list of paths"
    :description "Existence of these files means that this tag should be skipped"
    :placeHolder "Dockerfile"
    :required false}}
  {:fileFilter
   {:name "other-files-to-index"
    :description "Paths to index"
    :visibility "hidden"
    :defaultValue ["project.clj"]
    :required false}}
  {:repoFilter
   {:description "The set of repositories to monitor for tags",
    :displayName "Repository Scope",
    :name "scope",
    :required true}}],
 :artifacts
 {:docker
  [{:name "lein-m2-deploy-skill",
    :image "gcr.io/atomist-container-skills/lein-m2-deploy-skill",
    :env [{:name "PGP_KEY"
           :value "#{ 'maven-deploy-signer-private-key'|key }"}]
    :resources
    {:request {:cpu 0.1, :memory 1000},
     :limit {:cpu 1, :memory 1000}}}]}}
